html {
  font-size: 62.5%;
}
:root {
  --lime-green: #1db489;
  --bright-red: #dc414c;

  /*Social*/
  --facebook: #198ff5;
  --twitter: #1ca0f2;
  --instagram1: #fdc468;
  --instagram2: #df4996;
  --youtube: #c4032a;

  /* --card-bg: #f0f3fa; */
  /* Light Theme */
  --bg: #ffffff;
  --clr-bg-header: #f5f7ff;
  --clr-text: #63687e;
  --clr-bg-card: #f0f2fa;
  --clr-card-number: #282828;
  --clr-overview: #63687e;
  --switch: #aeb3cb;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: var(--clr-text);
  background: var(--bg);
}
.wrapper {
  padding: 0 3rem;
}
.grid {
  /* border: 1px solid fuchsia; */
  display: grid;
  grid-row-gap: 2.4rem;
}

.dark-mode {
  display: flex;
  justify-content: space-between;
  padding-top: 1.6rem;
}
.checkbox {
  display: none;
}
.checkbox:checked ~ .switch::before {
  transform: translateX(0rem);
}
.switch {
  /* border: 1px solid red; */
  height: 4rem;
  display: block;
  border-radius: 2rem;
  background: var(--switch);
  width: 8rem;
  padding: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
.switch::before {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background: white;
  border-radius: 50%;
  transform: translateX(4rem);
  transition: 0.3s;
  will-change: transform;
}

.header {
  /* display: none; */
  background: var(--clr-bg-header);
  padding-bottom: 10rem;
  border-radius: 0 0 2rem 2rem;
  padding-top: 2rem;
}
.header-total {
  color: var(--clr-text);
  margin: 0.8rem 0;
  font-weight: 700;
  border-bottom: 0.2rem solid var(--clr-text);
  padding-bottom: 1.6rem;
}
.header h1 {
  color: var(--clr-card-number);
  margin: 0;
  font-size: 2.4rem;
}

.top-cards {
  margin-top: -4rem;
  margin-bottom: 4rem;
}

.card {
  /* display: none; */
  border-radius: 0.7rem;
  overflow: hidden;
  background-color: var(--clr-bg-card);
  text-align: center;
  padding: 1.6rem 0;
  position: relative;
}
.card:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  height: 0.6rem;
  display: block;
}
.card.facebook:before {
  background: var(--facebook);
}
.card.twitter:before {
  background: var(--twitter);
}
.card.instagram:before {
  background: var(--instagram);
  background-image: linear-gradient(
    to right,
    var(--instagram1) 0%,
    var(--instagram2) 100%
  );
}
.card.youtube:before {
  background: var(--youtube);
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
}
.card-title img {
  margin-right: 10px;
}
.card-fallowers {
}
.card-fallowers-number {
  font-size: 5rem;
  font-weight: 700;
  color: var(--clr-card-number);
}
.card-fallowers-title {
  display: block;
  color: var(--dark-grayish-blue-text);
  letter-spacing: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.card-today {
  color: var(--lime-green);
  font-size: 1.2rem;
  font-weight: 700;
}
.card-today img {
  margin-right: 0.5rem;
}

/*overview*/
.overview {
  padding-bottom: 8rem;
}
.overview h2 {
  color: var(--clr-overview);
}
.card-small {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.6rem;
  background: var(--clr-bg-card);
  padding: 1.6rem;
}
.card-small p {
  margin: 0;
}
.card-small-views {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--clr-text);
}
.card-small-icon {
  text-align: right;
}
.card-small-number {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.9;
  color: var(--clr-card-number);
}
.card-small-percentage {
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: var(--lime-green);
  font-size: 1.2rem;
  font-weight: 700;
}
.card-small-percentage.is-danger {
  color: var(--bright-red);
}
.card-small-percentage span {
  display: flex;
  align-items: center;
}
.card-small-percentage img {
  margin-right: 0.4rem;
}

@media screen and (min-width: 480px) {
  body {
    /* background: tomato; */
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.4rem;
  }
  .wrapper {
    max-width: 1440px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 200px;
  }
  .header-total {
    border: none !important;
  }
}
.is-dark-mode {
  /* Dark Theme */
  --bg: #1e202a;
  --clr-bg-header: #1f212e;
  --clr-text: #8b97c6;
  --clr-bg-card: #252a41;
  --clr-card-number: #f0f2fa;
  --clr-overview: #ffffff;
  --switch: linear-gradient(to right, #378fe6 0%, #3eda82 100%);
}
.is-light-mode {
  /* Light Theme */
  --bg: #ffffff;
  --clr-bg-header: #f5f7ff;
  --clr-text: #63687e;
  --clr-bg-card: #f0f2fa;
  --clr-card-number: #282828;
  --clr-overview: #63687e;
  --switch: #aeb3cb;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Theme */
    --bg: #1e202a;
    --clr-bg-header: #1f212e;
    --clr-text: #8b97c6;
    --clr-bg-card: #252a41;
    --clr-card-number: #f0f2fa;
    --clr-overview: #ffffff;
    --switch: linear-gradient(to right, #378fe6 0%, #3eda82 100%);
  }
}
